body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pop-up-container {
    width: 400px;
    height: 300px;
    background: blue;
    padding: .25rem;
}

.top-bar {
    position: relative;
    padding: .25rem;
}

.close-x {
    background: crimson;
    position: absolute;
    color: white;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: .125rem;
}
.inner-content {
    background: beige;
    height: 90%;
    position: relative;
}

.ok {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 2rem;
}

.text {
    color: white;
}

img {
    width: 10%;
    margin: .8rem;
}