.container-absolute {
    background: blue;
    width: 10rem;
    height: 10rem;
    color: white;
    position: absolute;
    left: 10rem;
}

.container-fixed {
    background:pink;
    width: 10rem;
    height: 10rem;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
}