@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    margin: 0; padding: 0; box-sizing: border-box;
    background: rgb(238,174,206);
    background: linear-gradient(90deg, rgba(238,174,206,1) 0%, rgba(148,208,233,1) 100%);
    }

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: .6;
}  
nav ul a {
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: thistle;
    background-color: black;
    padding: 1vh;
    display: block;
    float: right;
    transition: all .3s;
}

nav ul a:hover {
    background-color: #a2c24d;
    color: black;
}



.lines {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.5rem;
    position: relative;
}

.lines a {
    text-decoration: none;
    color: rgb(235, 216, 235);
    transition: all .3s;
}

.lines p {
    display: inline;
}
.lines a:hover {
    color: white;
}

.l1 {position: relative;
    top: 45rem;
    left: 75%;

}

.l2 {
    position: absolute;
    top: 60rem;
    left: 10%;
}

.l3 {
    position: absolute;
    top: 80rem;
    left: 20%;
}

.l4 {
    position: absolute; 
    top: 150rem;
    text-align: center;
    right: 0;
    left: 0;
}

.l5 {
    position: absolute;
    top: 220rem;
    left: 20%;
}

.l6 {
    position: absolute;
    top: 230rem;
    left: 35%;
}

.l7 {
    position: absolute;
    top: 240rem;
    left: 50%;
}

.l8 {
    position: absolute;
    top: 280rem;
    left: 60%;
}

.l9 {
    position: absolute;
    top: 300rem;
    left: 20%;
}

.l10 {
    position: absolute;
    top: 320rem;
    left: 60%;
}

.l11 {
    position: absolute;
    top: 350rem;
    left: 30%;
    padding-bottom: 10rem;
}

.back {
    position: absolute;
    top: 380rem;
    left: 50%;
}

html {
    scroll-behavior: smooth;
}